version: "3.9"

services:
    nginx:
        container_name: nginx
        image: nginx:latest
        ports:
            - "81:81"
        volumes:
            - ./docker/nginx/hosts:/etc/nginx/conf.d
        links:
            - apache2
        depends_on:
            - apache2
        
    apache2:
        container_name: apache2
        build:
            context: .
            dockerfile: docker/apache2/DockerFile
        volumes:
            - ./:/var/www
    redis:
        container_name: db-redis
        build:
            context: .
            dockerfile: docker/redis/DockerFile
        sysctls:
            - net.core.somaxconn=1000
        ports:
            - "6379:6379"
    percona:
        container_name: percona
        image: percona
#        restart: always
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: "root"
            MYSQL_DATABASE: laravel
    postgres:
        container_name: postgres
        image: postgres:13.5
        environment:
            POSTGRES_DB: 'psql'
            POSTGRES_USER: 'root'
            POSTGRES_PASSWORD: 'root'
        ports:
            - "5432:5432"
